body {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 50;
    margin-right: 50;
    overflow-x:hidden;
    max-width: 100%;
    background-image: url(imges/linedpaper.png);
}
.content {
   clear: both;
   border: #cfcfcf 1px solid;
   background-color: #26ADE4;
   width: 100%;
   height: 500px;
}
.ulnofloat {
   list-style-type: none;
   padding-left: 0px;
   margin: 0px;
}
.ullifloat {
   float : left;
   border-right:  #ffffff 1px solid;
   background-color: #cfcfcf;
   margin-right: 0px;
    font-family: sans-serif;
    font-size: 35;
}
.ula {

   text-decoration: none;
   display: block;
   padding: 5px 10px;
   cursor: pointer;
    color: #ffffff;
}
#tabco4{
   width: 100%;
   background-color: #ffffff;
   border-right: #ffffff 2px solid;
}
#tabco4 ul a:hover {
   color: #26ADE4;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal /1 "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.14) ;
}
.tg {
    table-layout:fixed; 
    
}
.tab1 {
    overflow-y:auto;
}
#bl {
    font-family: sans-serif;
    text-align: left;
}
.tg-9hbo {
    text-align: left;
    color: crimson;
}
.top {
    background-color: #26ADE4;
    height: 100px;
    width: 100%;
     box-shadow: 0 7px 6px 1px rgba(0,0,0,0.1) ;
    margin-bottom: 10;
    table-layout: fixed; 
      background: -webkit-linear-gradient(90deg, rgba(106,176,247,1) 0, rgba(79,134,255,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(106,176,247,1) 0, rgba(79,134,255,1) 100%);
  background: linear-gradient(0deg, rgba(106,176,247,1) 0, rgba(79,134,255,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.logo a {
    min-width: 15px;
    text-decoration: none;
    padding-left: 2%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: left;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.logo a:hover {
    
    
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: rgba(38, 173, 228, 0.22);
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    
}

.saba {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: italic normal normal 25px/1 "Times New Roman", Times, serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5) ;
}
/*anim*/
       .new_div1 {
           margin-top: 40px;
           height: 400px;
           width: 100%;
           background-image: url(imges/tiny_grid.png);
           box-shadow: 0 7px 6px 1px rgba(0, 0, 0, 0.3) ;

  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
      
  }
  } 
.new_div1 div {
    margin: 90;
    padding: 50px;
    border-radius: 0 0 10px 10px;
      background: -webkit-linear-gradient(90deg, rgba(230,240,163,1) 0, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(230,240,163,1) 0, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
  background: linear-gradient(0deg, rgba(230,240,163,1) 0, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
    font-family: sans-serif;
    font-size: 90px;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2) ;
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2) ;
}
.new_div1 a {
    text-decoration: none;
    color: white;
}
.new_div1 div:hover{
    background: -webkit-linear-gradient(90deg, rgba(183,222,237,1) 0, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(183,222,237,1) 0, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: linear-gradient(0deg, rgba(183,222,237,1) 0, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}



/*DIV2*/



.bet_footer {
    width: 100%;
    margin-top: 30px;
    height: 100px;
    background: -webkit-linear-gradient(90deg, rgba(106,176,247,1) 0, rgba(79,134,255,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(106,176,247,1) 0, rgba(79,134,255,1) 100%);
  background: linear-gradient(0deg, rgba(106,176,247,1) 0, rgba(79,134,255,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
    bottom: 0px;
    margin-bottom: 0px;
     -webkit-box-shadow: 0 7px 18px 3px rgba(224,224,224,0.91) ;
  box-shadow: 0 7px 18px 3px rgba(224,224,224,0.91) ;
}